{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
 <div class="col-md-12">
     {{ form_start(formProduct) }}
     {{ form_rest(formProduct) }}

     <div class="row">
         <div class="col-md-12">
             <input type="submit" value="{{ 'form_user.submit'|trans({}, 'form_user') }}" class="btn btn-success pull-right">
         </div>
     </div>
     {{ form_end(formProduct) }}
 </div>
</div>
{% endblock %}